$primaryBackgroundColor: #262a59;
$primaryTextColor: #ffffff;
$hoverBackgroundColor: #3b3f69;
$activeBackgroundColor: #51557a;

$textIndigo: #a8aabd;
$fontStack: Roboto;
$fontBold: 700;
$fontNormal: 400;

$desktopBreakpoint: 992px;
